<% provide(:page_class, 'page-view-details') %>

<%= form_with model: [:administration, @group], local: true, html: {id: "edit_form"} do |f| %>

  <%= render partial: "shared/error_list", locals: { errors: @group.errors } %>

  <div class="row mat-form-row">
    <div class="mat-form-field col-md-6">
      <%= render partial: "shared/object_definition_form", locals: {this_object: @group, f: f} %>

      <div class="row mat-form-row">
        <div class="mat-form-field col-md-6">
          <%= f.label :organisation, t('Organisation'), class: "mat-form-field-label" %>
          <%= f.collection_select :organisation_id, list_of_owned_organisations, :id, :name, { }, { class: "mat-input-element select2-candidate" } %>
        </div>
        <div class="mat-form-field col-md-6">
          <%= f.label :territory, t('Territory'), class: "mat-form-field-label" %>
          <%= f.collection_select :territory_id, list_of_territories, :id, :name, { }, { class: "mat-input-element select2-candidate" } %>
        </div>
      </div>
<% ignore do %>
      <div class="row mat-form-row">
        <div class="mat-form-field col-md-6">
          <%= f.label :hierarchy, t('HierarchyEntryPoint'), class: "mat-form-field-label" %>
          <%= f.text_field :hierarchy_entry, class: "mat-input-element" %>
        </div>
        <div class="mat-form-field col-md-6">
          <p class="mat-textarea-md">
            This hierarchy entry point defines the scope of
            group's access authorisations. It is complementary
            or an alternative territory or organisation settings.
          </p>
        </div>
      </div>
<% ignore end %>
      <div class="row mat-form-row">
        <div class="mat-form-field col-md-6">
          <%= f.label :roles, t('Roles'), class: "mat-form-field-label" %>
          <%= f.collection_select :role_ids, options_for('user_roles'), :id, :name, { }, { multiple: true, class: "mat-input-element select2-candidate" } %>
        </div>
      </div>
    </div>
  </div>

<% end %>
