<%# For groups %>

<table class="table table-hover table-clickable" id="indexTable">

</table>

<script>
  $(document).ready( function () {
    // Choose statuses icons from views_helper
    var status_icons = ["fa fa-archive status-inactive",
                        "fa fa-clipboard-check status-active",
                        "fa fa-glasses status-pending"];
    var language = "<%= current_language.to_s %>" 
    $('#indexTable').DataTable({
      ajax:{
        url: '<%= request.fullpath %>',
        dataSrc: ''
      },
      pageLength: 25,
      createdRow: function( row, data, dataIndex ) {
        $(row).attr("data-href", "<%= request.path %>/" + data.id)
      },
      columns: [
        { title: '<%= t('.CalculatedStatus') %>',
          data: 'calculated_status',
          render: function(calculated_status) {return '<span class="status-icon ' + status_icons[calculated_status] + '"> </span>'} },
        { title: '<%= t('.Code') %>', data: 'code' },
        { title: '<%= t('.Name') %>', render: function( data, type, row ) {
          return (row['name'][language]) }
        },
        { title: '<%= t('.Description') %>', render: function( data, type, row ) {
          return (row['description'][language]) }  
        },
        { title: '<%= t('.OrganisationJ') %>', render: function( data, type, row ) {
          return (row['organisation_name'][language]) }  
        },
        { title: '<%= t('.TerritoryJ') %>', render: function( data, type, row ) {
          return (row['territory_name'][language]) }  
        },
        { title: '<%= t('.Owner') %>', data: 'owner_name' },
        { title: '<%= t('.UpdatedAt') %>', render: function( data, type, row ) {
          return (row['updated_at']).substring(0,10)}
        }
      ]
    });
  } );
</script>
