
<%= form_with model: [namespace, @parameters_list, @parameter], html: {id: "edit_form"} do |f| %>

  <div class="modal-header">
    <h5 class="modal-title" id="childModalLabel">
      <%= t('.EditParameter') %>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <%= render partial: "shared/error_list", locals: { errors: @parameter.errors } %>

    <div class="row mat-form-row">
      <div class="mat-form-field mat-form-field-required col-md-4">
        <%= f.label :code, t('.Code'), class: "mat-form-field-label" %>
        <%= f.text_field :code, class: "mat-input-element" %>
      </div>
      <div class="mat-form-field mat-form-field col-md-4">
        <%= f.label :property, t('.Property'), class: "mat-form-field-label" %>
        <%= f.text_field :property, class: "mat-input-element" %>
      </div>
      <div class="mat-form-field mat-form-field col-md-4">
        <%= f.label :scope, t('.Dataset'), class: "mat-form-field-label" %>
        <%= f.text_field :scope, class: "mat-input-element" %>
      </div>
    </div>

    <div class="row mat-form-row">
      <div class="mat-form-field mat-form-field col-md-4">
        <%= render partial: "shared/translated_json_field_form", locals: {
          instance: @parameter,
          field: 'name',
          isTextarea: false,
          smallTextarea: true,
          subject: t('.Name') } %>
      </div>
      <div class="mat-form-field mat-form-field mat-form-field-required col-md-4">
        <%= f.label :active_from, t('.ValidFrom'), class: "mat-form-field-label" %>
        <%= f.date_field :active_from, class: "mat-input-element" %>
      </div>
      <div class="mat-form-field mat-form-field mat-form-field-required col-md-4">
        <%= f.label :active_to, t('.ValidTo'), class: "mat-form-field-label" %>
        <%= f.date_field :active_to, class: "mat-input-element" %>
      </div>
    </div>

    <%= render partial: "shared/translated_json_field_form", locals: {
      instance: @parameter,
      field: 'description',
      isTextarea: true,
      smallTextarea: true,
      subject: t('.Description') } %>

  </div>
  <div class="modal-footer">
    <button type="button" class="mat-stroked-button mat-button-base" data-dismiss="modal">
      <%= t('Cancel') %>
    </button>
    <button class="mat-flat-button mat-button-base mat-primary">
      <%= t('Submit') %>
    </button>
  </div>

<% end %>
